.intro {
  Width: 100%;
  margin:0 auto;

}

.carousel-inner, .carousel-item {
  height: 50vh;
}
.carousel-item img {
  height: 100%;
  object-fit: cover;
}
.carousel-item {
  position: relative;

}

.carousel-caption {
  position: absolute;
  top: 190px;
}

.carousel-caption h2 {
  font-family: 'Architects Daughter', cursive;
}

.section-columns, .container {
   text-align: center;
}

.section-columns a, .container a {
  font-family: 'Architects Daughter', cursive;
  color: #ACA4A4;
  font-size: 20px;
}
